@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

:root {
    --text-col: #fff;
    --divider-color: #43484c;

    --darkest: #111;
    --neutral-dark: #222;
    --lighter-dark: #333;

    --highlight-color: rgb(112, 112, 36) !important;
}

body {
    background-color: var(--darkest);
    color: #eee;
}

a {
    color: #3f9cff;
}

a:hover {
    color: #5eacff;
}

.table {
    color: var(--text-col);
}

.table td {
    border-top: 1px solid var(--divider-color)
}

/*  Menu Buttons    */

.btn-outline-secondary, .btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
    color: #acbac5;
    border-color: #acbac5;
}

.btn-outline-success {
    color: #28d14f;
    border-color: #28d14f;
}

.btn-outline-danger {
    color: #ff4c5e;
    border-color: #ff4c5e;
}

/*  Modals  */

.card, .modal-content {
    background-color: var(--neutral-dark);
    color: var(--text-col);
}

.card-header {
    background-color: rgba(255,255,255,.01);
}

.card-header, .modal-header {
    border-bottom: 1px solid #555;
}

.close, .close:hover {
    color: var(--text-col);
}

.dropdown-menu {
    color: var(--text-col);
    background-color: var(--neutral-dark);
    border: 1px solid rgba(255,255,255,.15);
}

.dropdown-item {
    color: #dedede;
}

.dropdown-item:hover {
    background-color: rgb(25,25,25);
    color: #fff;
}

.dropdown-divider {
    border-top-color: var(--divider-color);
}

.slider {
    background-color: #666;
}

input:checked + .slider {
	background-color: #56B4FF;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus {
	color: var(--text-col);
	background-color: var(--neutral-dark);
	border-color: #737475 #737475 #fff;
}

.nav-tabs .nav-link:hover {
	border-color: var(--divider-color) var(--divider-color) #fff;
}

/*  Input Menus  */

.form-control {
    color: var(--text-col);
    background-color: var(--neutral-dark);
    border: 1px solid #828588;
}

.form-control:focus {
    color: var(--text-col);
    background-color: var(--neutral-dark);
}

.form-control:disabled {
    background-color: var(--lighter-dark);
}

.input-group-text {
	color: var(--text-col);
	background-color: rgb(39, 39, 39);
	border: 1px solid #828588;
	border-radius: .25rem;
}

/*  Popovers    */

.popover {
    background-color: var(--darkest);
    border: 1px solid rgba(255,255,255,.15);
}

.popover-header {
    background-color: var(--neutral-dark);
}

.popover-body {
    color: var(--text-col);
}

/*  Alerts  */

.alert-info {
	background-color: #1c353a;
	border-color: #46797b;
	color: #a2dded;
}

.alert-info .alert-link {
	color: #dcf3f6;
}

.alert-success {
	color: #d4edda;
	background-color: #194724;
	border-color: #5b8f68;
}

.alert-warning {
	color: #fff3cd;
	background-color: #5b4400;
	border-color: #b38f3d;
}

.alert-danger {
	color: #f8d7da;
	background-color: #54191e;
	border-color: #a34c54;
}

/* Researcher Backgrounds */

.researcherLteCommon {
  background-color: rgb(95, 95, 95) !important;
}

.researcherLteRare {
  background-color: rgb(61, 72, 84) !important;
}

.researcherCommon {
  background-color: rgb(95, 95, 95) !important;
}

.researcherRare {
  background-color: rgb(92, 92, 57) !important;
}

.researcherEpic {
  background-color: rgb(79, 67, 93) !important;
}

.researcherSupreme {
  background-color: rgb(102, 60, 66) !important;
}